* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

h1 {
  font-family: 'Roboto Slab', serif; }

h2 {
  font-family: 'Roboto Slab', serif; }

p {
  font-family: 'Open Sans', sans-serif; }

body {
  background-color: #898c8e; }

/*-----------------------nav---------------*/
nav {
  font-family: 'Open Sans', sans-serif;
  background-color: #3d3d3d; }

.logo {
  margin-left: 2rem;
  width: 5rem; }

.menu li {
  padding: 1rem; }
  .menu li a {
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    color: white; }
    .menu li a:active {
      color: darkorchid; }
    .menu li a:hover {
      color: darkorchid; }

@media (min-width: 992px) {
  a {
    padding-left: 5%; }
  ul {
    padding-right: 5%; }
  .navbar-expand-lg .navbar-collapse {
    display: flex;
    flex-basis: auto;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-end; } }

/*------------footer-----------------*/
footer {
  padding: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  background-color: #3d3d3d;
  color: white; }
  footer a {
    margin: 0.5rem; }
    footer a img {
      margin: 1rem;
      width: 100%; }

/*-------------------------Reco---------------------*/
.welcome {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr; }
  .welcome img {
    display: none; }

.text-container {
  text-align: center;
  grid-column: 1;
  grid-row: 1; }
  .text-container h1 {
    font-size: 5rem;
    font-weight: 400; }
  .text-container a {
    text-decoration: none;
    background: darkorchid;
    padding: 1rem 4rem;
    display: inline-block;
    color: white;
    font-size: 18px;
    margin-top: 2rem;
    border-radius: 30px; }
    .text-container a:hover {
      color: darkorchid;
      font-weight: bold;
      background: white; }

/*-----------------------carru--------------------*/
.reco {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #1a1919;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .reco h2 {
    align-items: flex-start;
    padding-bottom: 2rem;
    color: white; }

/*----------------Posts-----------------*/
.ultimas {
  margin: 50px 15% 0px 15%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  gap: 10px; }
  .ultimas a {
    text-decoration: none; }
    .ultimas a h4 {
      color: #1a1919; }
    .ultimas a p {
      color: #1a1919; }

.noticia1 {
  grid-column: 1;
  grid-row: 1;
  margin: 1px; }

.noticia2 {
  grid-column: 1;
  grid-row: 2;
  margin: 1px; }

.noticia3 {
  grid-column: 1;
  grid-row: 3;
  margin: 1px; }

.noticia4 {
  grid-column: 1;
  grid-row: 4; }

.noticia5 {
  grid-column: 1;
  grid-row: 5; }

.noticia6 {
  grid-column: 1;
  grid-row: 6; }

.noticia1 img, .noticia2 img, .noticia3 img, .noticia4 img, .noticia5 img, .noticia6 img {
  width: 100%; }

.noticia1 p, .noticia2 p, .noticia3 p, .noticia4 p, .noticia5 p, .noticia6 p {
  width: 100%;
  font-weight: bolder; }

@media only screen and (min-width: 768px) {
  .welcome {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr; }
    .welcome img {
      display: flex;
      grid-column: 1;
      grid-row: 1;
      width: 100%;
      margin: 10rem 0px 3rem 2rem; }
  .text-container {
    text-align: left;
    grid-column: 2;
    grid-row: 1;
    margin: 30% 20% 20% 30%; } }

@media only screen and (min-width: 1024px) {
  /*----------------Posts-----------------*/
  .ultimas {
    margin: 50px 15% 0px 15%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    width: 70%;
    align-items: start;
    justify-items: start;
    justify-content: center;
    align-content: center;
    padding: 20px; }
  .row_1, .noticia1, .noticia2, .noticia3 {
    grid-row: 1;
    margin: 1px; }
  .noticia1 {
    grid-column: 1; }
  .noticia2 {
    grid-column: 2; }
  .noticia3 {
    grid-column: 3; }
  .noticia4 {
    grid-column: 1;
    grid-row: 2; }
  .noticia5 {
    grid-column: 2;
    grid-row: 2; }
  .noticia6 {
    grid-column: 3;
    grid-row: 2; }
  .noticia1 img, .noticia2 img, .noticia3 img, .noticia4 img, .noticia5 img, .noticia6 img {
    width: 90%; }
  .noticia1 p, .noticia2 p, .noticia3 p, .noticia4 p, .noticia5 p, .noticia6 p {
    width: 90%;
    font-weight: bolder; }
  .noticia1 h4, .noticia2 h4, .noticia3 h4, .noticia4 h4, .noticia5 h4, .noticia6 h4 {
    width: 90%; }
  .noticia1:hover, .noticia2:hover, .noticia3:hover, .noticia4:hover, .noticia5:hover, .noticia6:hover {
    transition: all 0.7s ease;
    opacity: 70%; } }

/*********************************************************/
/***********************NOVEDADES*************************/
/*********************************************************/
.destacadas {
  margin-top: 50px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  grid-gap: 10px; }

.destacada1 {
  grid-row: 1;
  grid-column: 1; }

.destacada2 {
  grid-row: 2;
  grid-column: 1; }

.destacada3 {
  grid-row: 3;
  grid-column: 1; }

.destacada1 img, .destacada2 img, .destacada3 img {
  width: 100%; }

.destacada1 h1 {
  width: 100%; }

.destacada2 p, .destacada3 p {
  font-weight: bold;
  width: 100%; }

.new h2 {
  text-align: center;
  margin: 20px; }

.contenido {
  display: flex;
  justify-items: center; }

.post {
  align-items: center; }
  .post div {
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding-bottom: 30px; }
    .post div img {
      width: 100%; }
    .post div p {
      margin: 3%;
      font-weight: bolder; }

/*------------ultimas----------------*/
.novedades h2 {
  margin-top: 10px;
  text-align: center; }

@media only screen and (min-width: 768px) {
  .destacadas {
    margin: 15px 0px 0px 0px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    align-items: center;
    justify-items: center; }
  .destacada1 {
    grid-row: 1/3;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    align-content: center; }
  .destacada2 {
    grid-row: 1;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    align-content: center; }
  .destacada3 {
    grid-row: 2;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    align-content: center; }
  .destacada1 img {
    height: 100%;
    width: 80%; }
  .destacada1 h1 {
    width: 80%; }
  .destacada2 img, .destacada3 img {
    height: 100%;
    width: 50%; }
  .destacada2 p, .destacada3 p {
    font-weight: bold; } }

@media only screen and (min-width: 1024px) {
  .destacadas {
    margin: 4rem 10% 0px 10%;
    width: 80%; }
  /*------------ultimas----------------*/
  .card img {
    width: 100%; }
  .card p {
    margin: 0;
    padding: 0; }
  .linea {
    border-top: 1px solid black;
    height: 2px;
    padding: 0;
    margin: 4rem 15% 4rem 15%; }
  .new {
    margin: 5% auto;
    width: 90%; }
    .new h2 {
      text-align: center;
      margin: 20px; }
  .contenido {
    margin-top: 4rem;
    display: flex;
    justify-items: center; }
  .post {
    align-items: center; }
    .post div {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "a img _text ";
      justify-items: center;
      padding-bottom: 30px; }
      .post div img {
        grid-area: img;
        width: 300px;
        align-items: flex-end; }
      .post div p {
        grid-area: _text;
        font-weight: bolder; } }

/*********************************************************/
/**********************FirstSteps*************************/
/*********************************************************/
.first h1 {
  margin: 1% 0% 0% 1%; }

.first h2 {
  margin: 1%; }

.first p {
  margin: 2% 1% 2% 1%; }

.first img {
  width: 100%; }

@media only screen and (min-width: 768px) {
  .first img {
    margin-left: 1%;
    height: 50%;
    width: 50%; }
  .first ul {
    margin-left: 2%; } }

@media only screen and (min-width: 1024px) {
  .first {
    display: flex;
    flex-direction: column;
    margin: 100px 15% 0px 15%; }
    .first p {
      margin: 1% 0% 1% 0%; }
    .first h2 {
      margin: 1% 0% 1% 0%; } }

.carrusel {
  margin: 5% 0% 5% 0%; }
  .carrusel img {
    width: 100%; }

.juego img {
  width: 100%; }

.juego p {
  margin: 1%; }

@media only screen and (min-width: 768px) {
  .carrusel {
    margin: 5% 15% 5% 15%; }
  .ultimosJuegos {
    margin: 5% 15% 5% 15%;
    display: grid;
    grid-template-rows: 3;
    gap: 10; }
  .juego {
    margin: 5% 0% 5% 0%;
    display: flex;
    flex-direction: row;
    justify-items: center; }
    .juego img {
      width: 40%; }
    .juego p {
      margin-left: 5%;
      font-weight: bolder; }
  .uno {
    grid-row: 1; }
  .dos {
    grid-row: 2; }
  .tres {
    grid-row: 3; } }

/*********************************************************/
/**************************Videos*************************/
/*********************************************************/
.videosSectionn {
  margin: 50px 15% 0px 15%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, 1fr);
  justify-items: center; }

.video1 {
  grid-row: 1; }

.video2 {
  grid-row: 2; }

.video3 {
  grid-row: 3; }

.video4 {
  grid-row: 4; }

.video5 {
  grid-row: 5; }

.video6 {
  grid-row: 6; }

.video7 {
  grid-row: 7; }

.video8 {
  grid-row: 8; }

@media only screen and (min-width: 768px) {
  .videosSectionn {
    margin: 50px 15% 0px 15%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    justify-items: center; }
  .video1 {
    margin: 10% 0px 10% 0px;
    grid-column: 1;
    grid-row: 1; }
  .video2 {
    margin: 10% 0px 10% 0px;
    grid-column: 2;
    grid-row: 1; }
  .video3 {
    margin: 10% 0px 10% 0px;
    grid-column: 1;
    grid-row: 2; }
  .video4 {
    margin: 10% 0px 10% 0px;
    grid-column: 2;
    grid-row: 2; }
  .video5 {
    margin: 10% 0px 10% 0px;
    grid-column: 1;
    grid-row: 3; }
  .video6 {
    margin: 10% 0px 10% 0px;
    grid-column: 2;
    grid-row: 3; }
  .video7 {
    margin: 10% 0px 10% 0px;
    grid-column: 1;
    grid-row: 4; }
  .video8 {
    margin: 10% 0px 10% 0px;
    grid-column: 2;
    grid-row: 4; } }

@media only screen and (min-width: 1024px) {
  .videosSectionn {
    border: darkorchid 2px solid;
    background-color: #5a5a5a; } }

/*********************************************************/
/**************************Headsets*************************/
/*********************************************************/
.headset img {
  width: 100%; }

.headset h2 {
  margin: 1% 0% 2% 1%; }

.headset ul {
  margin: 1%; }

.headset p {
  margin: 1%; }

.h1head {
  text-align: center;
  margin: 5%; }

@media only screen and (min-width: 768px) {
  .h1head {
    text-align: center;
    margin: 3%; }
  .lista {
    margin: 2% 0% 0px 0%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center; }
  .headset h2 {
    margin: 1%; }
  .headset p {
    margin: 1%; }
  .headset ul {
    margin-left: 5%; }
  .headset img {
    margin-left: 1%;
    height: 50%;
    width: 50%; } }

@media only screen and (min-width: 1024px) {
  .h1head {
    text-align: center;
    margin: 3%; }
  .lista {
    margin: 50px 15% 0px 15%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center; }
  .headset h2 {
    margin: 1% 0% 1% 0%; }
  .headset p {
    margin: 1% 0% 1% 0%; }
  .headset ul {
    margin-left: 2%; } }
