*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-family: 'Roboto Slab', serif;
}
h2{
    font-family: 'Roboto Slab', serif;
}
p{
    font-family: 'Open Sans', sans-serif;
}
body{
    background-color: #898c8e;
}

/*********************************************************/
/***************************INDEX*************************/
/*********************************************************/


/*-----------------------nav---------------*/
nav{
    padding: 20px 10% 20000px 20%;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    background-color: #3d3d3d;
}
.logo{
    width: 5rem;
}
.menu li{
    display: inline-block;
    position:relative;
    padding: 10px;
    border-radius: 10%;
    margin: 10px;
}
.menu li a{
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    color: white;
}
.menu li a:active{
    color: darkorchid;
}
ul ul{
    position: absolute;
    display: none;
}
ul ul li{
    display: block;
}




/*-------------------------Reco---------------------*/

.reco{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.reco>h1{
    align-items:flex-start;
    padding-bottom: 25px;
}
.reco>a>img{
    width: 100%;
}

/*-----------------------Videos--------------------*/


.videosSection{
    padding-top: 25px;
    background-color: #1a1919;
    padding-bottom: 25px;
}
.videosSection>h2{
    text-align: center;
    color: white;
}
.videos{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap:10px;
    position: relative;
}
.principal>iframe{
    position: absolute;
	width: 100%; 
	height: 100%;
}
.sec1>iframe,.sec2>iframe{
	width: 100%; 
	height: 100%;
}



/*----------------Posts-----------------*/

.new>h2{
    text-align: center;
    margin: 20px;
}
.contenido{
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "post""publi";
    justify-items: center;   
}
.post{
    grid-area: post;
    align-items: center;
}
.post>div{
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding-bottom: 30px;
}
.post>div>img{
    width: 100%;
}
.post>div>p{
    margin: 3%;
    font-weight:bolder;
}
.publi{
    grid-area: publi;
    align-items: center;
}

/*------------footer-----------------*/

footer{
    margin-top: 50px;
    padding:20px 20px 20px 20px;
    background-color: #1a1919;
    color: white;
}


@media only screen and (min-width:768px){
        /*-----------------------nav---------------*/
        nav{
            padding: 20px 10% 20px 10%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
        .logo{
            width: 5rem;
        }
        .menu li{
            display: inline-block;
            position:relative;
            padding: 10px;
            border-radius: 10%;
            margin: 10px;
        }
        .menu li a{
            text-decoration: none;
            font-weight: bold;
            font-size: 18px;
            color: white;
        }
        .menu li a:active{
            color: darkorchid;
        }
        ul ul{
            position: absolute;
            display: none;
        }
        ul ul li{
            display: block;
        }

        /*-------------------------Reco---------------------*/

        .reco{
            margin-top: 50px;
            margin-bottom: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .reco>a>img{
            width: 100%;
        }

        /*-----------------------Videos--------------------*/

        .videos{
            display: flex;
            flex-direction: column;
        }
        .principal>iframe{
            position: absolute;
            width: 100%; 
            height: 100%;
        }
        .sec1>iframe,.sec2>iframe{
            width: 100%; 
            height: 100%;
        }

        /*----------------Posts-----------------*/

        .contenido{
            display: grid;
            grid-template-columns: 1fr ;
            grid-template-rows: 1fr 1fr;
            grid-template-areas: "post""publi";
        }
        .post{
            grid-area: post;
        }
        .post>div{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr ;
            grid-template-rows: 1fr;
            grid-template-areas: "img text text";
            justify-items: center;
            padding-bottom: 30px;
        }
        .post>div>img{
            grid-area: img;
        }
        .post>div>p{
            margin-left: 15px;
            grid-area: text;
            font-weight:bolder;
        }

}

@media only screen and (min-width:1024px){


    .logo{
        width: 3rem;
    }

    .menu li a{
        color: white;
    }
    .menu li a:hover{
        color: darkorchid;
    }

    ul ul li{
        display: block;
    }
    ul li:hover ul{
    display:block;
    margin-top: 12px;
    padding: 0;
    border-radius: 0%;
    border: 1px solid rgb(0, 0, 0);
    background-color: #1a1919;
    }


    /*-------------------------Reco---------------------*/

    .reco{
        margin-top: 50px;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
    }
    .reco a{
        border-radius: 1%;
        display: flex;
        justify-content: center;
    }
    .reco>a>img{
        width: 100%;
        transition: height 2s;
    }


    /*-----------------------Videos--------------------*/




    .videos{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap:10px;
        grid-template-areas: 
        "principal secundario1"
        "principal secundario2"
        ;
        justify-content: space-evenly;
        justify-items: center;
        align-items:center;
    }
    .principal{
        grid-area: principal;
    }
    .principal>iframe{
        position:relative;
        height: 400px;
        width: 700px;
    }
    .sec1{
        grid-area: secundario1;
    }
    .sec2{
        
        grid-area: secundario2;
    }
    .sec1>iframe,.sec2>iframe{
        width: 400px;
        height:300px;
    }

    /*----------------Posts-----------------*/
    .new{
        margin:5% auto;
        width: 90%;
    }
    .new>h2{
        text-align: center;
        margin: 20px;
    }
    .contenido{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "post post post publi";
        justify-items: center;
    }
    .post{
        grid-area: post;
        padding: 15px;
        margin-left: 1px;
        border: 2px solid darkorchid ;
        margin-right: 5px;
        align-items: center;
    }
    .post>div{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        grid-template-rows: 1fr;
        grid-template-areas: "img text text";
        justify-items: center;
        padding-bottom: 30px;
    }
    .post>div>img{
        grid-area: img;
        width: 300px;
    }
    .post>div>p{
        margin-left: 15px;
        grid-area: text;
        font-weight:bolder;
    }
    .publi{
        border: 1px solid rgb(9, 42, 255) ;
        grid-area: publi;
    }

    /*------------footer-----------------*/
}






/*********************************************************/
/***********************NOVEDADES*************************/
/*********************************************************/

.destacadas{
    margin-top: 50px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}
.destacada1{
    grid-row:1;
    grid-column: 1;
}
.destacada2{
    grid-row:2;
    grid-column: 1;
}
.destacada3{
    grid-row:3;
    grid-column: 1;
}
.destacada1>img,.destacada2>img,.destacada3>img{
    width: 100%;
}
.destacada1>h1{
    width: 100%;
}
.destacada2>p,.destacada3>p{
    font-weight: bold;
    width: 100%;
}

/*------------ultimas----------------*/

.novedades>h2{
    margin-top: 10px;
    text-align: center;
}
.ultimas{
    margin:50px 15% 0px 15%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6,1fr);
    gap: 10px;
}

.noticia1{
    grid-column: 1;
    grid-row: 1;
    margin: 1px;
}
.noticia2{
    grid-column: 1;
    grid-row: 2;
    margin: 1px;
}
.noticia3{
    grid-column: 1;
    grid-row: 3;
    margin: 1px;
}
.noticia4{
    grid-column: 1;
    grid-row: 4;
}
.noticia5{
    grid-column: 1;
    grid-row: 5;
}
.noticia6{
    grid-column: 1;
    grid-row: 6;
}
.noticia1>img,.noticia2>img,.noticia3>img,.noticia4>img,.noticia5>img,.noticia6>img{
    width: 100%;
}
.noticia1>p,.noticia2>p,.noticia3>p,.noticia4>p,.noticia5>p,.noticia6>p{
    width: 100%;
    font-weight:bolder;
}

@media only screen and (min-width:768px){
    .destacadas{
        margin: 15px 0px 0px 0px;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    
        align-items: center;
        justify-items: center;
    }
    
    .destacada1{
        grid-row:1/3;
        grid-column: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        align-content: center;
    }
    
    .destacada2{
        grid-row:1;
        grid-column: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        align-content: center;
    }
    
    .destacada3{
        grid-row:2;
        grid-column: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        align-content: center;
    }
    
    .destacada1>img{
        height: 100%;
        width: 80%;
    }
    
    .destacada2>img,.destacada3>img{
        height: 100%;
        width: 50%;
    }
    
    .destacada1>h1{
        width: 80%;
    }
    .destacada2>p,.destacada3>p{
        font-weight: bold;
        width: 50%;
    }
    
    
}


@media only screen and (min-width:1024px){

    .destacadas{
        margin: 50px 10% 0px 10%;
        width: 80%;
    }
    
    /*------------ultimas----------------*/
    
    .novedades>h2{
        margin-top: 100px;
    }
    .ultimas{
        margin:50px 15% 0px 15%;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 1fr 1fr;
        gap: 20px;
    
        width: 70%;
        align-items: start;
        justify-items:start;
        justify-content: center;
        align-content: center;
        padding: 20px;
        border: darkorchid 2px solid;
        border-radius: 1%;
    }
    
    .noticia1{
        grid-column: 1;
        grid-row: 1;
        margin: 1px;
    }
    .noticia2{
        grid-column: 2;
        grid-row: 1;
        margin: 1px;
    }
    .noticia3{
        grid-column: 3;
        grid-row: 1;
        margin: 1px;
    }
    .noticia4{
        grid-column: 1;
        grid-row: 2;
    }
    .noticia5{
        grid-column: 2;
        grid-row: 2;
    }
    .noticia6{
        grid-column: 3;
        grid-row: 2;
    }
    .noticia1>img,.noticia2>img,.noticia3>img,.noticia4>img,.noticia5>img,.noticia6>img{
        width: 80%;
    }
    .noticia1>p,.noticia2>p,.noticia3>p,.noticia4>p,.noticia5>p,.noticia6>p{
        width: 80%;
        font-weight:bolder;
    }
}

/*********************************************************/
/**********************FirstSteps*************************/
/*********************************************************/
.first>h1{
    margin: 1% 0% 0% 1%;
}
.first>h2{
    margin: 1%;
}
.first>p{
    margin: 2% 1% 2% 1%;
}
.first>img{
    width: 100%
}
@media only screen and (min-width:768px){
    .first>img{
        margin-left:1%;
        width: 50%;
        height: 50%;
    }
    .first>ul{
        margin-left: 2%;
    }
}

@media only screen and (min-width:1024px){
    .first{
        display:flex;
        flex-direction: column;
        margin: 100px 15% 0px 15%;
    }
    .first>p{
        margin: 1% 0% 1% 0%;
    }
    .first>h2{
        margin: 1% 0% 1% 0%;
    }
    
}




/*********************************************************/
/**************************Videos*************************/
/*********************************************************/
.videosSectionn{
    margin:50px 15% 0px 15%;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: repeat(8,1fr);
    justify-items: center;
}
.video1{
    grid-row: 1;
}
.video2{
    grid-row: 2;
}
.video3{
    grid-row: 3;
}
.video4{
    grid-row: 4;
}
.video5{
    grid-row: 5;
}
.video6{
    grid-row: 6;
}
.video7{
    grid-row: 7;
}
.video8{
    grid-row: 8;
}

@media only screen and (min-width:768px){
    .videosSectionn{
        margin:50px 15% 0px 15%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4,1fr);
    
        justify-items: center;
        
    }
    
    .video1{
        margin:10% 0px 10% 0px;
        
        grid-column: 1;
        grid-row: 1;
    }
    .video2{
        margin:10% 0px 10% 0px;
        grid-column: 2;
        grid-row: 1;
    }
    .video3{
        margin:10% 0px 10% 0px;
        grid-column: 1;
        grid-row: 2;
    }
    .video4{
        margin:10% 0px 10% 0px;
        grid-column: 2;
        grid-row: 2;
    }
    .video5{
        margin:10% 0px 10% 0px;
        grid-column: 1;
        grid-row: 3;
    }
    .video6{
        margin:10% 0px 10% 0px;
        grid-column: 2;
        grid-row: 3;
    }
    .video7{
        margin:10% 0px 10% 0px;
        grid-column: 1;
        grid-row: 4;
    }
    
    .video8{
        margin:10% 0px 10% 0px;
        grid-column: 2;
        grid-row: 4;
    }

}

@media only screen and (min-width:1024px){
    .videosSectionn{
        border: darkorchid 2px solid;
        background-color:rgb(90, 90, 90);
        border-radius: 1%;
    }
    
}



/*********************************************************/
/**************************Juegos*************************/
/*********************************************************/
.carrusel{
    margin:5% 0% 5% 0%;
}
.carrusel>img{
    width: 100%;
}
.juego>img{
    width: 100%;
}
.juego>p{
    margin: 1%;
}
@media only screen and (min-width:768px){
    .carrusel{
        margin:5% 15% 5% 15%;
    }
    .ultimosJuegos{
        margin:5% 15% 5% 15%;
        display: grid;
        grid-template-rows: 3;
        gap:10;
    }

    .juego{
        margin:5% 0% 5% 0%;
        display: flex;
        flex-direction: row;
        justify-items: center;
    }
    .juego>img{
        width: 40%;
    }
    .juego>p{
        margin-left: 5%;
        font-weight: bolder;
    }
    .uno{
        grid-row: 1;
    }
    .dos{
        grid-row: 2;
    }
    .tres{
        grid-row: 3;
    }
}




/*********************************************************/
/**************************Headsets*************************/
/*********************************************************/
.headset>img{
    width: 100%
}
.h1head{
    text-align: center;
    margin:5%
}
.headset>h2{
    margin: 1% 0% 2% 1%;
}
ul{
    margin:1%
}
.headset>p{
    margin: 1%;
}


@media only screen and (min-width:768px){
    .h1head{
        text-align: center;
        margin:3%
    }
    .lista{
        margin:2% 0% 0px 0%;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }
    
    .headset>h2{
        margin: 1%;
    }
    .headset>p{
        margin: 1%;
    }
    
    .headset>ul{
        margin-left: 5%;
    }
    .headset>img{
        margin-left: 1%;
        width: 50%;
        height: 50%;
    }
}

@media only screen and (min-width:1024px){
    .h1head{
        text-align: center;
        margin:3%
    }
    .lista{
        margin:50px 15% 0px 15%;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }
    .headset>h2{
        margin: 1% 0% 1% 0%;
    }
    .headset>p{
        margin: 1% 0% 1% 0%;
    }
    .headset>ul{
        margin-left: 2%;
    }
    
}
























