*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-family: 'Roboto Slab', serif;
}
h2{
    font-family: 'Roboto Slab', serif;
}
p{
    font-family: 'Open Sans', sans-serif;
}
body{
    background-color: #898c8e;
}


/*-----------------------nav---------------*/
nav{
    font-family: 'Open Sans', sans-serif;
    background-color:$secondary-color;
}
.logo{
    margin-left: 2rem;
    width: 5rem;
}
.menu{
    li{
        padding: 1rem;
        a{
            text-decoration: none;
            font-weight: bold;
            font-size: 18px;
            color: white;
            &:active{
                color: darkorchid;
            }
            &:hover{
                color: darkorchid;
            }
        }
    }
}
@media (min-width: 992px){
    a{
        padding-left:5%;
    }
    ul{
        padding-right: 5%;
    }
    .navbar-expand-lg .navbar-collapse {
        display: flex;
        flex-basis: auto;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: flex-end;
    }
}



/*------------footer-----------------*/

footer{
    
    padding:2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    background-color:$secondary-color;
    color: white;
    a{
        margin: 0.5rem;
        img{
            margin: 1rem;
            width: 100%;
        }
    }
    
}

