*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-family: 'Roboto Slab', serif;
}
h2{
    font-family: 'Roboto Slab', serif;
}
p{
    font-family: 'Open Sans', sans-serif;
}
body{
    background-color: #898c8e;
}

/*-----------------------nav---------------*/
nav{
    padding: 20% 10% 20% 20%;
    font-family: 'Open Sans', sans-serif;
    background-color: #3d3d3d;
    
    
}
.logo{
    margin-left: 2rem;
    width: 5rem;
}
.menu{
   
    li{
        padding: 10px;
        border-radius: 10%;
        margin: 10px;
        a{
            text-decoration: none;
            font-weight: bold;
            font-size: 18px;
            color: white;
            &:active{
                color: darkorchid;
            }
            &:hover{
                color: darkorchid;
            }
        }
    }
  
}
@media (min-width: 992px){
    .navbar-expand-lg .navbar-collapse {
        margin-right: 2rem;
        display: flex;
        flex-basis: auto;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: flex-end;
    }
}



/*------------footer-----------------*/

footer{
    margin-top: 50px;
    padding:20px 20px 20px 20px;
    background-color: #1a1919;
    color: white;
}
