/*********************************************************/
/**********************FirstSteps*************************/
/*********************************************************/
.first{
    h2{
        margin: 1%;
    }
    p{
        margin: 2% 1% 2% 1%;
    }
    img{
        width: 100%
    }
    a{
        padding-left: 0%;
    }
}

@media only screen and (min-width:768px){
    .first{
        img{
            margin-left:1%;
            @include sizes(50%, 50%);
        }
        ul{
            margin-left: 2%;
        }
    }
}

@media only screen and (min-width:1024px){
    .first{
        display:flex;
        flex-direction: column;
        margin: 5% 15% 0% 15%;
        p{
            margin: 1% 0% 1% 0%;
        }
        h2{
            margin: 1% 0% 1% 0%;
        }
    }
}