/*********************************************************/
/**************************Headsets*************************/
/*********************************************************/
.headset{
    img{
        width: 100%
    }
    h2{
        margin: 1% 0% 2% 1%;
    }
    ul{
        margin:1%
    }
    p{
        margin: 1%;
    }
}

@media only screen and (min-width:768px){
    .lista{
        margin: 5% 15% 0% 15%;
        display: flex;
        flex-direction: column;
    }
    
    .headset{
        h2{
            margin: 1%;
        }
        p{
            margin: 1% 0% 1% 0%;
        }
        ul{
            margin-left: 5%;
        }
        img{
            margin-left: 1%;
            @include sizes(50%, 50%);
        }
    }
}

