/*-------------------------Reco---------------------*/

.reco{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
        align-items:flex-start;
        padding-bottom: 25px;
    }
    a{
        img{
            width: 100%;
        }
        
    }
}
.welcome{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr;
    img{
        grid-column: 1;
        grid-row: 1;
        width: 100%;
        margin: 10rem 0px 3rem 2rem;
    }
}
.text-container{
    grid-column: 2;
    grid-row: 1;
    margin:30% 20% 20% 30%;
    h1{
        font-size: 5rem;
        font-weight: 400;
    }
    a{
        text-decoration: none;
        background: darkorchid;
        padding: 14px 40px;
        display:inline-block;
        color: #fff;
        font-size: 18px;
        margin-top: 30px;
        border-radius: 30px;
    }
}
/*-----------------------Videos--------------------*/


.videosSection{
    padding-top: 25px;
    background-color: #1a1919;
    padding-bottom: 25px;
    h2{
        text-align: center;
        color: white;
    }
}
.videos{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap:10px;
    position: relative;
}
.principal{
    iframe{
        position: absolute;
        width: 100%; 
        height: 100%;
    }
}
.sec1,.sec2{
    iframe{
        width: 100%; 
	    height: 100%;
    }
}

/*----------------Posts-----------------*/
.ultimas{
    margin:50px 15% 0px 15%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6,1fr);
    gap: 10px;
}

.noticia1{
    grid-column: 1;
    grid-row: 1;
    margin: 1px;
}
.noticia2{
    grid-column: 1;
    grid-row: 2;
    margin: 1px;
}
.noticia3{
    grid-column: 1;
    grid-row: 3;
    margin: 1px;
}
.noticia4{
    grid-column: 1;
    grid-row: 4;
}
.noticia5{
    grid-column: 1;
    grid-row: 5;
}
.noticia6{
    grid-column: 1;
    grid-row: 6;
}
.noticia1,.noticia2,.noticia3,.noticia4,.noticia5,.noticia6{
    img{
        width: 100%;
    }
    
}
.noticia1,.noticia2,.noticia3,.noticia4,.noticia5,.noticia6{
    p{
        width: 100%;
        font-weight:bolder;
    }
    
}



@media only screen and (min-width:768px){

    /*-----------------------Videos--------------------*/

    .videos{
        display: flex;
        flex-direction: column;
    }
    .principal{
        iframe{
            position: absolute;
            width: 100%; 
            height: 100%;
        }

    }
    .sec1,.sec2{
        iframe{
            width: 100%; 
            height: 100%;
        }
        
    }

    /*----------------Posts-----------------*/

    .contenido{
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "post""publi";
    }
    .post{
        grid-area: post;
    }
    .post{
        div{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr ;
            grid-template-rows: 1fr;
            grid-template-areas: "img text text";
            justify-items: center;
            padding-bottom: 30px;
            img{
                grid-area: img;
            }
            p{
                margin-left: 15px;
            grid-area: text;
            font-weight:bolder;
            }
        }
        
    }

}

@media only screen and (min-width:1024px){




    /*-----------------------Videos--------------------*/


    .videos{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap:10px;
        grid-template-areas: 
        "principal secundario1"
        "principal secundario2"
        ;
        justify-content: space-evenly;
        justify-items: center;
        align-items:center;
    }
    .principal{
        grid-area: principal;
        iframe{
            position:relative;
            height: 400px;
            width: 700px;
        }
    }
    .sec1{
        grid-area: secundario1;
    }
    .sec2{
        grid-area: secundario2;
    }
    .sec1,.sec2{
        iframe{
            width: 400px;
            height:300px;
        }
        
    }

    /*----------------Posts-----------------*/
    .ultimas{
        margin:50px 15% 0px 15%;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 1fr 1fr;
        gap: 20px;
    
        width: 70%;
        align-items: start;
        justify-items:start;
        justify-content: center;
        align-content: center;
        padding: 20px;
    }
    
    .noticia1{
        grid-column: 1;
        grid-row: 1;
        margin: 1px;
    }
    .noticia2{
        grid-column: 2;
        grid-row: 1;
        margin: 1px;
    }
    .noticia3{
        grid-column: 3;
        grid-row: 1;
        margin: 1px;
    }
    .noticia4{
        grid-column: 1;
        grid-row: 2;
    }
    .noticia5{
        grid-column: 2;
        grid-row: 2;
    }
    .noticia6{
        grid-column: 3;
        grid-row: 2;
    }
    .noticia1,.noticia2,.noticia3,.noticia4,.noticia5,.noticia6{
        img{
            width: 80%
        }
        p{
            width: 80%;
            font-weight:bolder;
        }
        h4{
            width: 80%;
        }
        &:hover{
            transition: all 0.7s ease;
            opacity: 70% ;

        }
        
    }
    
}