/*-------------------------Reco---------------------*/


.welcome{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    img{
        display: none;
    }
}
.text-container{
    text-align: center;
    grid-column: 1;
    grid-row: 1;
    
    h1{
        font-size: 5rem;
        font-weight: 400;
    }
    a{
        text-decoration: none;
        background: darkorchid;
        padding: 1rem 4rem;
        display:inline-block;
        color: white;
        font-size: 18px;
        margin-top: 2rem;
        border-radius: 30px;
        &:hover{
            color: darkorchid;
            font-weight: bold;
            background:white;
        }
    }
}
/*-----------------------carru--------------------*/

.reco{
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #1a1919;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2{
        align-items:flex-start;
        padding-bottom: 2rem;
        color: white;
    }
}


/*----------------Posts-----------------*/
.ultimas{
    margin:50px 15% 0px 15%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6,1fr);
    gap: 10px;
    a{
        text-decoration: none;
        
        h4{
            color: $darker-color;
        }
        p{
            color:$darker-color;
        }
    }
}

.noticia1{
    grid-column: 1;
    grid-row: 1;
    margin: 1px;
}
.noticia2{
    grid-column: 1;
    grid-row: 2;
    margin: 1px;
}
.noticia3{
    grid-column: 1;
    grid-row: 3;
    margin: 1px;
}
.noticia4{
    grid-column: 1;
    grid-row: 4;
}
.noticia5{
    grid-column: 1;
    grid-row: 5;
}
.noticia6{
    grid-column: 1;
    grid-row: 6;
}
.noticia1,.noticia2,.noticia3,.noticia4,.noticia5,.noticia6{
    img{
        width: 100%;
    }
    
}
.noticia1,.noticia2,.noticia3,.noticia4,.noticia5,.noticia6{
    p{
        width: 100%;
        font-weight:bolder;
        
    }
    
}



@media only screen and (min-width:768px){
    .welcome{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 1fr;
        img{
            display:flex;
            grid-column: 1;
            grid-row: 1;
            width: 100%;
            margin: 10rem 0px 3rem 2rem;
        }
    }
    .text-container{
        text-align: left;
        grid-column: 2;
        grid-row: 1;
        margin:30% 20% 20% 30%;
    }
}


@media only screen and (min-width:1024px){

    /*----------------Posts-----------------*/
    .ultimas{
        margin:50px 15% 0px 15%;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 1fr 1fr;
        gap: 20px;
    
        width: 70%;
        align-items: start;
        justify-items:start;
        justify-content: center;
        align-content: center;
        padding: 20px;
    }
    
    .row_1{
        grid-row: 1;
        margin: 1px;
    }
    .noticia1{
        @extend .row_1;
        grid-column: 1;
    }
    .noticia2{
        @extend .row_1;
        grid-column: 2;
    }
    .noticia3{
        @extend .row_1;
        grid-column: 3;
    }
    .noticia4{
        grid-column: 1;
        grid-row: 2;
    }
    .noticia5{
        grid-column: 2;
        grid-row: 2;
    }
    .noticia6{
        grid-column: 3;
        grid-row: 2;
    }
    .noticia1,.noticia2,.noticia3,.noticia4,.noticia5,.noticia6{
        img{
            width: 90%
        }
        p{
            width: 90%;
            font-weight:bolder;
        }
        h4{
            width: 90%;
        }
        &:hover{
            transition: all 0.7s ease;
            opacity: 70% ;

        }
        
    }
    
}