/*********************************************************/
/***********************NOVEDADES*************************/
/*********************************************************/

.destacadas{
    margin-top: 50px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}
.destacada1{
    grid-row:1;
    grid-column: 1;
}
.destacada2{
    grid-row:2;
    grid-column: 1;
}
.destacada3{
    grid-row:3;
    grid-column: 1;
}
.destacada1,.destacada2,.destacada3{
    img{
        width: 100%;
    }
}
.destacada1{
    h1{
        width: 100%;
    }
    
}
.destacada2,.destacada3{
    p{
        font-weight: bold;
        width: 100%;
    }
    
}

.new{
    h2{
        text-align: center;
        margin: 20px;
    }
    
}
.contenido{
    display: flex;
    justify-items: center;   
}
.post{
    align-items: center;
    div{
        display: flex;
        flex-direction: column;
        justify-items: center;
        padding-bottom: 30px;
        img{
            width: 100%;
        }
        p{
            margin: 3%;
            font-weight:bolder;
        }
    }
}

/*------------ultimas----------------*/

.novedades{
    h2{
        margin-top: 10px;
        text-align: center;
    }
    
}


@media only screen and (min-width:768px){
    .destacadas{
        margin: 15px 0px 0px 0px;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    
        align-items: center;
        justify-items: center;
    }
    
    .destacada1{
        grid-row:1/3;
        grid-column: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        align-content: center;
    }
    
    .destacada2{
        grid-row:1;
        grid-column: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        align-content: center;
    }
    
    .destacada3{
        grid-row:2;
        grid-column: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        align-content: center;
    }
    
    .destacada1{
        img{
            height: 100%;
            width: 80%;
        }
        h1{
            width: 80%;
        }
    }
  
    .destacada2,.destacada3{
        img{
            height: 100%;
            width: 50%;
        }
        p{
            font-weight: bold;
        }
        
    }
    
}


@media only screen and (min-width:1024px){

    .destacadas{
        margin: 4rem 10% 0px 10%;
        width: 80%;
    }
    
    /*------------ultimas----------------*/
    
    .card{
        img{
            width: 100%;
        }
        p{
            margin: 0;
            padding: 0;
        }
    }
    .linea {
        border-top: 1px solid black;
        height: 2px;
        padding: 0;
        margin: 4rem 15% 4rem 15%;
      }
      .new{
        margin:5% auto;
        width: 90%;
        h2{
            text-align: center;
            margin: 20px;
        }
    }


    .contenido{
        margin-top: 4rem;
        display: flex;
        justify-items: center;
    }
    .post{
        align-items: center;
        div{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr ;
            grid-template-rows: 1fr;
            grid-template-areas: "a img _text ";
            justify-items: center;
            padding-bottom: 30px;
            img{
                grid-area: img;
                width: 300px;
                align-items: flex-end;
            }
            p{
                grid-area: _text;
                font-weight:bolder;
            }
        }
    }
}